.app {
	margin: 2rem 0;
	width: min(20rem, 80vw);
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	padding: 1.7rem;
	background-color: white;
	box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.6);
}

.app h3 {
	margin: 0;
}

img {
	display: block;
	width: 100%;
	object-fit: cover;
}

/* list container */
.list {
	display: none;
}

.list-container {
	display: flex;
	gap: 0.7rem;
	align-items: center;
}

.list-container:not(:last-child) {
	margin-bottom: 0.8rem;
}

.image {
	border-radius: 50%;
	display: flex;
	width: 4rem;
	height: 4rem;
	overflow: hidden;
}

.details {
	display: flex;
	flex-direction: column;
	gap: 0.3rem;
	font-size: 0.8rem;
}

.details p {
	margin: 0;
	font-weight: 700;
}

button {
	padding: 0.4rem 0;
	background-color: var(--background-color);
	color: white;
	border: none;
	cursor: pointer;
}
